<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mannnl.magikard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/magikarp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewPokemonCardActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".PokemonLibViewActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".PokemonCardViewActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".NewTrainerCardActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".TrainerLibViewActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".TrainerCardViewActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".NewEnergyCardActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".EnergyLibViewActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".EnergyCardViewActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".NewDeckListActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".DeckListLibViewActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

    <!-- TODO: Set the parents for card view activities to their pokedex -->

</manifest>